section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-g-bold.font-s-44
        | О нас
      .swiper-about
        .about-section__cards.font-s-18.swiper-wrapper
          .about-section__card.swiper-slide.about-section__card-1
            span.font-w-semi-bold Частная общеобразовательная 
            br.no-br
            span.font-w-semi-bold школа РОДВИЛ 
            | была открыта 
            br.no-br
            | в городе Челябинске 
            span.font-w-semi-bold в 2018 году. 
            br.no-br
            | В нашем учебном заведении дети 
            br.no-br
            | могут закончить 10 классов 
            br.no-br
            | и получить диплом об окончании 
            br.no-br
            | средней школы
          .about-section__card.swiper-slide
            span.font-w-semi-bold Мы работаем по системе гуманной 
            br.no-br
            span.font-w-semi-bold педагогики, 
            | индивидуально 
            br.no-br
            | подходим к каждому воспитаннику 
            br.no-br
            | и уважаем его личность. Наши 
            br.no-br
            | ученические коллективы небольшие, 
            br.no-br
            | по 12 человек, что значительно 
            br.no-br
            | улучшает качество образования
          .about-section__card.swiper-slide
            span.font-w-semi-bold Школа укомплектована 
            br.no-br
            span.font-w-semi-bold современным оборудованием. 
            br.no-br
            | Классы просторные с удобной 
            br.no-br
            | мебелью и зоной для отдыха. 
            br.no-br
            | Мы предоставляем возможность 
            br.no-br
            | оставлять детей после уроков 
            br.no-br
            | до 18:00, для прогулок и выполнения 
            br.no-br
            | домашнего задания
          .about-section__card.swiper-slide.about-section__card-4
            span.font-w-semi-bold За 6 лет работы мы накопили 
            br.no-br
            span.font-w-semi-bold большой педагогический и 
            br.no-br
            span.font-w-semi-bold управленческий опыт. 
            | РОДВИЛ 
            br.no-br
            | давно готов к расширению и ищет 
            br.no-br
            | партнеров для взаимовыгодного 
            br.no-br
            | сотрудничества, поэтому мы 
            br.no-br
            | приглашаем вас стать частью нашей 
            br.no-br
            | команды
        .about-pagination.swiper-progress-about
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1470" height="1870" alt="image")
