section.invest-section
  .wrapper
    .invest-section__container
      h2.invest-section__title.font-w-g-regular.font-s-44
        | Минимальные вложения 
        br
        span.font-w-g-bold для старта — 2,27 млн рублей
      .invest-section__sub-title.font-w-g-regular.font-s-24
        | Выберите размер вашего города 
        br.no-br
        | и узнайте величину паушального взноса 
        br.no-br
        | и размер инвестиций в 1 клик
      .swiper-invest
        .invest-section__cards.swiper-wrapper
          .invest-section__card.swiper-slide
            .invest-section__card-title
              .font-w-g-bold.font-s-36.text-up до 500 000
              .font-w-g-regular.font-s-20 жителей
            img.invest-section__card-icon(src="images/invest-section-card-icon.png" loading="lazy" width="63" height="54" alt="image")
            button.btn.invest-section__btn(data-remodal-target="modal-form-investments") Узнать
          .invest-section__card.swiper-slide.invest-section__card-2
            .invest-section__card-title
              .font-w-g-bold.font-s-36.text-up от 500 000
              .font-w-g-regular.font-s-20 жителей
            img.invest-section__card-icon(src="images/invest-section-card-icon.png" loading="lazy" width="63" height="54" alt="image")
            button.btn.invest-section__btn(data-remodal-target="modal-form-investments") Узнать
          .invest-section__card.swiper-slide.invest-section__card-3
            .invest-section__card-title
              .font-w-g-bold.font-s-36.text-up от 1 000 000
              .font-w-g-regular.font-s-20 жителей
            img.invest-section__card-icon(src="images/invest-section-card-icon.png" loading="lazy" width="63" height="54" alt="image")
            button.btn.invest-section__btn(data-remodal-target="modal-form-investments") Узнать
        .invest-pagination.swiper-progress-invest
