section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-g-regular.font-s-44
        span.font-w-g-bold 4 причины 
        br.no-br
        | открыть частную школу
      .swiper-reasons
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-1.svg" loading="lazy" width="80" height="80" alt="icon")
            .font-s-20
              span.font-w-bold Стабильно высокий 
              br.no-br
              span.font-w-bold спрос 
              | и широкие 
              br.no-br
              | возможности
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-2.svg" loading="lazy" width="80" height="80" alt="icon")
            .font-s-20
              span.font-w-bold Большая 
              br.no-br
              span.font-w-bold маржинальность 
              br
              | и высокая рентабельность
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-3.svg" loading="lazy" width="80" height="80" alt="icon")
            .font-s-20
              span.font-w-bold Надежная 
              br.no-br
              span.font-w-bold и проверенная 
              br
              | финансовая модель
          .reasons-section__card.swiper-slide
            img.reasons-section__card-icon(src="images/reasons-section-card-icon-4.svg" loading="lazy" width="80" height="80" alt="icon")
            .font-s-20
              span.font-w-bold Самореализация 
              br.no-br
              span.font-w-bold и статус 
              br
              | хозяина школы
        .reasons-pagination.swiper-progress-reasons
      .reasons-section__bottom-title.font-w-g-bold.font-s-30
        | Узнайте о других преимуществах 
        br.no-br
        span.font-w-g-regular бизнеса по франшизе РОДВИЛ
      .font-s-20 Скачайте подробную презентацию
      form.reasons-section__form(data-feedback-form)
        input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
        button.btn(type="submit") Скачать презентацию
