section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-g-bold.font-s-44
        span.font-w-g-regular Вы можете открыть 
        br.no-br
        | бизнес в одном 
        br.no-br
        | из двух форматов
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-title.font-w-g-bold.font-s-36.text-up 5 классов
            .start-section__card-text.font-s-20
              | Получите описание 
              br.no-br
              | формата и узнайте 
              br.no-br
              | размер инвестиций
            button.btn.start-section__btn(data-remodal-target="modal-form-plan") Получить
          .start-section__card.swiper-slide
            .start-section__card-title.start-section__card-title-2.font-w-g-bold.font-s-36.text-up 10 классов
            .start-section__card-text.font-s-20
              | Получите описание 
              br.no-br
              | формата и узнайте 
              br.no-br
              | размер инвестиций
            button.btn.start-section__btn(data-remodal-target="modal-form-plan") Получить
        .start-pagination.swiper-progress-start
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1362" height="1296" alt="image")
