section.steps-section
  .wrapper
    .steps-section__container
      .steps-section__box
        .steps-section__box-text
          h2.steps-section__title.font-w-g-bold.font-s-44
            | 10 простых шагов 
            br.no-br
            | для открытия 
            br.no-br
            span.font-w-g-regular вашей частной школы
          .steps-section__sub-title.font-w-g-regular.font-s-24
            | Ознакомьтесь с ключевыми 
            br.no-br
            | этапами совместной работы
          .swiper-steps
            .steps-section__cards.swiper-wrapper
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Заключаем договор франшизы
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Согласуем проектную документацию
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Ищем помещение и подписываем договор аренды
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Получаем лицензию
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Проводим ремонт, оснащаем помещение, 
                  br.no-br
                  | устраиваем пожарную безопасность
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Производим заказ, доставку и монтаж оборудования 
                  br.no-br
                  | и мебели
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Формируем первичные запасы товара и расходных 
                  br.no-br
                  | материалов
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Осуществляем поиск персонала
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Проводим обучение персонала
              .steps-section__card.swiper-slide
                img.steps-section__card-icon(src="images/steps-section-card-icon.svg" loading="lazy" width="15" height="15" alt="icon")
                .font-s-18
                  | Открываем школу и начинаем зарабатывать
            .steps-pagination.swiper-progress-steps
        img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="952" height="1480" alt="image")
        img.steps-section__img-mobile(src="images/steps-section-img-mobile.png" loading="lazy" width="1146" height="832" alt="image")
      .steps-section__bottom
        .font-w-g-regular.font-s-30
          span.font-w-g-bold Работаем строго по договору, 
          br.no-br
          | в котором описаны наши 
          br.no-br
          | обязанности и все условия 
          br.no-br
          | сотрудничества
        button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
