section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-g-bold.font-s-44
        | Мы поможем 
        br.no-br
        | вам запустить 
        br
        span.font-w-g-regular свою частную школу
      .swiper-support
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .font-s-18
              | Обеспечим пошаговое 
              br
              | становление бизнеса
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .font-s-18
              | Предоставим 
              br
              | дистанционное обучение
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .font-s-18
              | Обучим очно на базе 
              br
              | головной компании
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .font-s-18
              | Проведем запуск 
              br
              | бизнеса дистанционно
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .font-s-18
              | Направим команду 
              br.no-br
              | специалистов для запуска 
              br.no-br
              | к первым партнерам
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .font-s-18
              | Подключим к 
              br
              | закрытому сообществу
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .font-s-18
              | Добавим на 
              br
              | официальный сайт
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="20" height="20" alt="icon")
            .font-s-18
              | Дадим любые 
              br.no-br
              | консультации, касающиеся 
              br.no-br
              | ведения бизнеса
        .support-pagination.swiper-progress-support
      .support-section__bottom-title.font-w-g-bold.font-s-32
        | Получите подробный план 
        br
        span.font-w-g-regular по открытию РОДВИЛ
      form.support-section__form(data-feedback-form)
        input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
        input.input(type="text" name="email" autocomplete="off" placeholder="E-mail")
        button.btn(type="submit") получить
      img.support-section__img(src="images/support-section-img.png" loading="lazy" width="1474" height="1712" alt="icon")
      .support-section__img-title.font-w-g-bold.font-s-20
        | Команда РОДВИЛ 
        br.no-br
        | поддержит вас 
        br.no-br
        | на всех этапах
