.city-section
  background-image: url('../images/city-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #A1DFE5

  &__container
    position relative
    text-align: center
    padding 20px 0 20px 0
    color: #363067
    +above($breakpoints.sm)
      padding 50px 0 30px 0
    +above($breakpoints.md)
      padding 80px 0 40px 0
    +above($breakpoints.xxl)
      padding 100px 0 55px 0

  &__sub-title
    padding 15px 0
    color: #343434
    +above($breakpoints.sm)
      padding 20px 0
    +above($breakpoints.md)
      padding 25px 0
    +above($breakpoints.xxl)
      padding 30px 0

  &__form
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    margin-bottom 40px
    +above($breakpoints.sm)
      flex-direction: row
      justify-content center
      gap: 10px
      margin-bottom 60px
    +above($breakpoints.md)
      gap: 12px
      margin-bottom 90px
    +above($breakpoints.xxl)
      margin-bottom 150px
      gap: 14px
    & > *
      width 280px !important
      +above($breakpoints.sm)
        width 200px !important
      +above($breakpoints.md)
        width 240px !important
      +above($breakpoints.xxl)
        width 280px !important
