.support-section
  // background-image: url('../images/support-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background: linear-gradient(157deg, #fff 0%, #e2e8ea 100%);

  &__container
    position relative
    z-index 1
    text-align: center
    padding 20px 0 20px 0
    color: #363067
    +above($breakpoints.sm)
      text-align: start
      padding 50px 0 50px 0
    +above($breakpoints.md)
      padding 80px 0 80px 0
    +above($breakpoints.xxl)
      padding 100px 0 92px 0
    &:before
      content: ""
      position: absolute
      z-index -1
      top: 483px;
      left: 102px;
      width: 461px;
      height: 273px;
      border-radius: 0 0 0 10px;
      background-image: url('../images/support-section-img-bg.jpg')
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      background-color #A1DFE5
      +above($breakpoints.sm)
        top: 164px;
        left: 444px;
        width: 460px;
        height: 420px;
        border-radius: 0 0 0 20px;
      +above($breakpoints.md)
        top: 209px;
        left: 613px;
        width: 850px;
        height: 550px;
        border-radius: 0 0 0 25px;
      +above($breakpoints.xxl)
        top: 251px;
        left: 698px;
        width: 850px;
        height: 706px;
        border-radius: 0 0 0 30px
      +above($breakpoints.xxxxl)
        width 50vw

  &__title
    padding 0 0 20px 0
    +above($breakpoints.sm)
      padding 0 0 30px 0
    +above($breakpoints.md)
      padding 0 0 35px 0
    +above($breakpoints.xxl)
      padding 0 0 43px 0

  &__cards
    +above($breakpoints.sm)
      width 570px
      display: flex
      flex-wrap: wrap
      gap: 15px 10px
    +above($breakpoints.md)
      gap: 20px 30px
    +above($breakpoints.xxl)
      gap: 42px 34px

  &__card
    width 280px !important
    display: flex
    justify-content center
    gap: 5px
    color: #343434
    +above($breakpoints.sm)
      width 200px !important
      justify-content start
      gap: 7px
    +above($breakpoints.md)
      gap: 10px
      width 240px !important
    +above($breakpoints.xxl)
      width 268px !important
      gap: 12px

  &__card-icon
    width 14px
    height: 14px
    +above($breakpoints.sm)
      width 16px
      height: 16px
    +above($breakpoints.md)
      width 18px
      height: 18px
    +above($breakpoints.xxl)
      width 20px
      height: 20px

  &__bottom-title
    padding 0 0 15px 0
    +above($breakpoints.sm)
      padding 34px 0 20px 0
    +above($breakpoints.md)
      padding 44px 0 25px 0
    +above($breakpoints.xxl)
      padding 56px 0 30px 0

  &__form
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    +above($breakpoints.sm)
      width 400px
      flex-direction: row
      flex-wrap: wrap
      gap: 7px
    +above($breakpoints.md)
      width 580px
      gap: 12px
    +above($breakpoints.xxl)
      gap: 14px
    & > *
      width 280px !important
      +above($breakpoints.sm)
        width 190px !important
      +above($breakpoints.md)
        width 260px !important
      +above($breakpoints.xxl)
        width 280px !important

  &__img
    width 280px
    height: auto
    margin: 20px 0 0px 32px;
    +above($breakpoints.sm)
      margin 0
      position: absolute
      width: 436px;
      bottom: 50px;
      right: -40px;
    +above($breakpoints.md)
      width: 567px;
      bottom: 80px;
      right: -68px;
    +above($breakpoints.xxl)
      width 737px
      bottom: 92px
      right: -52px

  &__img-title
    backdrop-filter: blur(24px);
    background: linear-gradient(144deg, #7ac5cc 0%, #362f6b 100%);
    color: #fff
    border-radius: 10px
    padding: 10px;
    position: absolute;
    width: 144px;
    height: 69px;
    bottom: 136px;
    right: 133px;
    +above($breakpoints.sm)
      border-radius: 15px
      width: 166px;
      height: 84px;
      padding: 15px 10px 15px 20px;
      bottom: 233px;
      right: 149px;
    +above($breakpoints.md)
      border-radius: 20px
      width: 211px;
      height: 109px;
      padding: 20px 10px 20px 25px;
      bottom: 319px;
      right: 215px;
    +above($breakpoints.xxl)
      width: 282px;
      height: 128px;
      padding: 26px 10px 27px 30px;
      bottom: 401px;
      right: 300px;
